@import url("https://fonts.googleapis.com/css2?family=REM:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body{
  background-color: rgb(133, 128, 128);
}
#body {
  background-image: url(/asset/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bodysection {
  display: flex;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3;
  background-color: rgba(199, 199, 199, 0.8);

}

.midSection{
  margin-left: 10px;
  background-color: rgba(199, 199, 199, 0.8);
  flex: 7;
}

.titleWithLink{
  display: flex;
  align-items: center;
}

.projectLink{
  margin-left: 10px;
}

.projectDetial{
  font-weight: 900;
  margin: 10px;
}
.projectDetial > li{
  font-weight: 200;
  list-style-type: none;
  
}


.leftSection {
  margin-left: 10px;
  background-color: rgba(199, 199, 199, 0.8);
  flex: 4;
  justify-content: flex-start;
}

.nameDiv,
.infoDiv,
.skillDiv {
  display: flex;
  flex-direction: column;
}

.myPhoto {
  width: 50%;
  height: auto;
  align-self: center;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.ocp {
  text-align: center;
  font-size: 20px;
}
  

.socialMediaDiv{
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

.title {
  background-color: rgba(5, 5, 4, 0.8);
  color: white;
}

.skillList {
  margin-left: 5px;
}

.borderBottom {
  border-bottom: 2px solid rgb(130, 127, 127);
}

.lastLine {
  margin-bottom: 10px;
}

.ii {
  color: rgb(156, 112, 0);
  list-style-type: none;
}
.iii {
  color: green;
  list-style-type: none;
}

h2,
h3,
h4,
span,
a,
li,
ul,p{
  padding-left: 10px;
  font-family: "REM", sans-serif;
}

.liSkill{
  font-weight: 900;
}

footer {
  display: flex;
  height: 80px;
  margin-top: 30px;
  background-color: rgba(5, 5, 4, 0.8);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footText {
  padding: 0;
}

@media (max-width: 770px) {
  .bodysection {
    flex-direction: column;
    align-items: center;
  }
  .infoSection {
    width: 70%;
    padding: 0;
    margin: 0;
  }
  .mainSection {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .title {
    position: sticky;
    top: 0;
    text-align: center;
  }
  h2,
  h3,
  h4,
  span,
  a,
  li,
  ul {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  .skillList,.infoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
